<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Be Sure To Add The File Path --}}
    <script src="handlebars.js"></script>
    <title>Handlebars Practice</title>
</head>
<body>
    <script>
        var src = "<h1>Hello {{ name }}</h1>";
        var template = Handlebars.compile(src);

        var output = template({name: "Colby"});
        document.body.innerHTML += output;

        or

        var template = function(data) {
            return "<h1>Hello " + data.name + "<h1>";
        }
    </script>
</body>
</html>